* {
  padding: 0;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

/* heaeing///////////////////////////// */
.heading {
  position: fixed;

  width: 100%;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(94, 9, 9, 1) 40%,
    rgba(252, 176, 69, 1) 100%
  );
  color: white;
}
.heading h1 {
  padding: 4px 0;
}

#main-container {
  padding-top: 50px;
  margin-top: 50px;
}

body::-webkit-scrollbar {
  display: none;
}

/* main container////////////////////// */
.container {
  width: 90%;
  margin: auto;
  padding-top: 60px;
}

/* close open togle/////////////////////////// */
.close-open {
  margin: auto;
  width: 150px;
  margin-top: 10px;
}
.open-button {
  background-color: #555;
  color: white;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  /* opacity: 0.8; */
  /* position: fixed; */
  bottom: 23px;
  right: 28px;
  width: 100%;
  /* text-align: center; */
  /* margin: auto; */
}

/* form-box//////////////////////////// */
.create-form-box {
  display: none;
  border: 2px solid #f1f1f1;
  margin: 10px;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 0.7) 0%,
    rgba(94, 9, 9, 1) 40%,
    rgba(252, 176, 69) 100%
  );
  box-shadow: 0 1px 5px 1px rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
  padding-top: 20px;
}

/* input field //////////////////////*/
.create-form-box input,
.create-form-box textarea,
select {
  margin-bottom: 14px;
  padding: 0 5px;
  background-color: rgba(44, 43, 43, 0.527);
  color: white;
  border-radius: 2px;
}

/* sepret inputs//////////////////////// */
.create-form-box textarea {
  width: 87%;
  padding-top: 5px;
}
.create-form-box input[type="text"] {
  width: 40%;
}
.create-form-box input[type="submit"] {
  padding: 2px 6px;
  background-color: rgba(85, 85, 85, 0.858);
  color: white;
  border-radius: 2px;
}

/* submit hover/////////////////////// */
.create-form-box input[type="submit"]:hover {
  cursor: pointer;
  background-color: rgba(85, 85, 85, 0.664);
  text-decoration: underline;
  color: rgb(211, 211, 211);
}

/* list container/////////////////// */
.list-container h2 {
  text-align: center;
  margin: 10px 0 6px;
  text-decoration: underline;
}

/* list of projects////////////////////// */
.list-box .list {
  margin-bottom: 10px;
  padding: 12px;
  background-color: rgba(94, 9, 9, 0.881);
  color: white;
  box-shadow: 0 1px 5px 1px rgb(0, 0, 0);
  text-justify: inter-word;
}
.list-box .list h3 {
  color: rgb(252, 176, 69);
}
.list-box .list .auther {
  color: rgb(131, 58, 180);
  color: rgb(0, 0, 0);
  text-align: right;
  margin-top: 10px;
  font-weight: bold;
}

/* media for 768px??????????????????????? */
@media screen and (min-width: 768px) {
  /* container/////////////// */
  .container {
    width: 70%;
  }

  /* form create//////////////// */
  .create-form-box {
    width: 80%;
    margin: 18px auto;
    padding: 1rem;
    padding-top: 24px;
  }

  .list-container h2 {
    margin-bottom: 14px;
  }

  /* list //////////////// */
  .list-box .list {
    padding: 20px;
    margin-bottom: 16px;
  }
}

/* media for 1081px and above??????????????????????? */
@media screen and (min-width: 1081px) {
  /* togle button/////////////////// */
  .close-open {
    width: 200px;
    /* margin: auto; */
  }
  .create-form-box {
    width: 50%;
    margin: 24px auto;
    padding: 1rem;
    padding-top: 30px;
  }

  /* form//////////////////// */
  .create-form-box form {
    margin: auto;
  }

  /* inputs///////////////////// */
  .create-form-box input {
    height: 24px;
  }

  /* list /////////////////////// */
  .list-box .list {
    /* border: 2px solid blue; */
    width: 70%;
    margin: auto;
    padding: 24px;
    margin-bottom: 16px;
  }
  .list-box .list h3 {
    margin-bottom: 8px;
  }
}
